<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block styles %}
        <!-- Default styles can go here -->
        <!-- Todo: Add base styles here -->
        <!-- <link rel="stylesheet" href=""> -->
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}{% endblock %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            {% block footer %}
            <!-- Default footer content -->
            <p>&copy; 2024 Test Account Experience</p>
            {% endblock %}
        </footer>
        {% block scripts %}
        <!-- Default scripts can go here -->
        <!-- Todo: Add base javascript here -->
        <!-- <script src=""></script> -->
        {% endblock %}
    </body>
</html>
