{% load bootstrap5 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block styles %}
        <!-- Todo: Default styles can go here -->
        {% bootstrap_css %}
        {% endblock %}
    </head>
    <body>
        <header>
        {% block header %}{% endblock %}
        </header>
        <main>
        {% block content %}{% endblock %}
        </main>
        <footer>
        {% block footer %}
            <!-- Todo: Default footer content -->
            <br>
            <p class="container-fluid">&copy; 2024 Test Account Experience</p>
        {% endblock %}
        </footer>
        {% block scripts %}
        <!-- Todo: Default javascript can go here -->
        {% bootstrap_javascript %}
        {% endblock %}
    </body>
</html>
