{% extends "testAccountExperience/logIn_signUp_base.html" %}

{% block title %}forgot password{% endblock %}
{% block formTitle %}Forgot password to{% endblock %}
{% block formAction %}<!-- Todo: Add link -->{% endblock %}
{% block formPassword %}<!-- removes password from base -->{% endblock %}
{% block continueText %}Send reset code to email{% endblock %}
{% block resetCodeForm %}
    <section id="reset code form">
        <form action="needs thought" method="POST">
            <label for="reset code">Enter reset code</label>
            <input type="number" id="reset code" name="reset code">
            <input type="submit" value="Continue">
        </form>
    </section>
{% endblock %}
{% block outsideFormLink %}
    <a>Login</a>
    <a>Signup</a>
{% endblock %}
