{% extends "testAccountExperience/base.html" %}

{% block title %}
home page
{% endblock %}

{% block header %}
    <span>Test Account Experience</span>
    {% if loggedIn %}
        <button>Hello {{ userEmail }}</button>
        <button><a href="{% url 'logout' %}">logout</a></button>
        <button><a href="{% url 'deleteAccount' %}">Delete Account</a></button>
    {% else %}
    <button><a href="{% url 'login' %}">login/signup</a></button>
    {% endif %}
{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <label for="location">Account location</label>
        <br>
        <input type="text" list="locations" id="location" name="location">
        <br>

        <datalist id="locations">
            <option value="United Kingdom"></option>
            <option value="Japan"></option>
            <option value="United States"></option>
            <option value="Mexico"></option>
            <option value="Brazil"></option>
            <option value="India"></option>
        </datalist>

        <label for="language">Account language</label>
        <br>
        <input type="text" list="languages" id="language" name="language">
        <br>

        <datalist id="languages">
            <option value="English"></option>
            <option value="Japanese"></option>
            <option value="Spanish"></option>
            <option value="French"></option>
            <option value="Portuguese"></option>
            <option value="German"></option>
        </datalist>

        <label for="subscriptions">Account subscriptions</label>
        <br>
        <select id="subscriptions" name="subscriptions" multiple>
            <option value="PrimeVideo">PrimeVideo</option>
            <option value="Prime">Prime</option>
            <option value="HBO">HBO</option>
            <option value="Paramount+">Paramount+</option>
        </select>


        <p>Card saved?</p>
        <input type="radio" id="card saved" name="card" value="yes">
        <label for="card saved">Yes</label>
        <input type="radio" id="card not saved" name="card" value="no">
        <label for="card not saved">No</label>

        <p>Address saved?</p>
        <input type="radio" id="address saved" name="address" value="yes">
        <label for="address saved">Yes</label>
        <input type="radio" id="address not saved" name="address" value="no">
        <label for="address not saved">No</label>
        <br>
        {% if loggedIn %}
        <input type="submit" value="Create account">
        {% else %}
            <button><a href="{% url 'login' %}">Login to create forms</a></button>
        {% endif %}

    </form>

    <table>
    <tr>
        <th>Email</th>
        <th>Password</th>
        <th>Location</th>
        <th>Language</th>
        <th>Subscriptions</th>
        <th>Card</th>
        <th>Address</th>
        <th>Experience</th>
        <th>Removal</th>
    </tr>

        {% for account in accounts %}
            <tr>
            <td>{{ account.email }}</td>
            <td>{{ account.password }}</td>
            <td>{{ account.location|title }}</td>
            <td>{{ account.language|title }}</td>
            <td>{{ account.subscriptions }}</td>
            <td>{{ account.cardSaved }}</td>
            <td>{{ account.addressSaved }}</td>
            <td>{{ account.experienceLink }}</td>
                <td><button><a href="{% url 'deleteTestAccount' account.email %}">Remove</a></button></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
