{% extends "testAccountExperience/base.html" %}

{% block header %}{% include 'includes/navbar.html' %}{% endblock %}
{% block content %}
<section id="general form" class="container-fluid">
    <h2>{% block formTitle %}{% endblock %} Test Account Experience</h2>
    <form method="POST">
    {% csrf_token %}
    {% include "includes/form.html" %}
    {% block errorMessage %}{% endblock %}
        <input type="submit" value="{% block continueText %}{% endblock %}">
    </form>
</section>
{% block outsideFormLink %}{% endblock %}
{% endblock %}
